h1.logo {
  font-family: sans-serif;
  font-size: 5em;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-top: 20px;
}

footer {
  font-family: sans-serif;
  margin-bottom: 35px;
  margin-top: 20px;
}

label {
  margin-left: 20px;
}